<div id='page' class='row-fluid'>
		<div class='col-md-6 col-md-offset-3 search text-center'>
			<form  class='search-form row-fluid'>
					<div class='colorForm input-group col-md-8 col-md-offset-2'>
						<input type='search' class='search-tag form-control' placeholder='Введите текст…'>
						<span class='colorForm input-group-btn'>
							<button  type='sumbit' class='btn btn-default' id='search'>Поиск</button>
						</span>
					</div>
			  </form>
		</div>
		<div id='searchResults' class='col-md-6 col-md-offset-3'>
			<div class='results row-fluid'>
				<div class='top'></div>
			</div>
			<div class='button'></div>
		</div>
		
</div>